POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=library-main
POSTGRES_USER=library-root
POSTGRES_PASSWORD=avalancheavalavalanche

docker_prefix="library-demo"
docker_nginx="proxy"
docker_certbot="ssl"
docker_db="db"
docker_volume_dbdata="library_db-data"

OPENAI_API_KEY=""
